@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}




/*====================================================================================================*/
/******************************************* coding start ********************************************/
/*==================================================================================================*/

*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main .wrapper, footer .wrapper,header .wrapper{
  max-width: 1440px;
  width: 82%;
  margin: auto;
}

.home_menu{
  display: flex;
  justify-content: space-between;
  /* padding: 1rem 3rem; */
  padding: 1rem 0;
  position: absolute;
  width: 82%;
}

.bg_img{
  background: linear-gradient(rgba(49, 65, 94, 0.5),rgba(49, 65, 94, 0.5)), url("https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

.home_menu h1 img{
  width: 40px;
  height: 40px;
  display: inline;
  padding: 0 0.2rem 0 0;
}

.home_menu h1{
  font-size: 22px;
  font-weight: bold;
  color: white;
}

nav{
  display: flex;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

nav ul li{
  padding: 0.5rem;
}

.home_menu > ul a{
  color: #3ed4d6;
  padding: 0 0.5rem; 
}

.home_menu > ul li{
  color: white;
  font-size: 12px;
  padding: 0.5rem;
  font-weight: bold;
}

.home_menu > ul li:last-child{
  color: #3ed4d6;
  border: 1px solid #3ed4d6;
  border-radius: 5px;
  padding: 0.8rem;
}

.main_content .wrapper{
  max-width: 1440px;
  width: auto;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 10%;
  padding: 9%;
}

.main_content .wrapper section:first-child{
  color: white;
  font-size: 50px;
  width: 47%;
  align-self: center;
  /* margin-top: 5rem; */
}

.main_content .wrapper section:first-child a{
  font-size: 14px;
  font-weight: 600;
  margin: 2rem 0;
  border-radius: 5px;
  color: white;
  background: #3ed4d6;
  padding: 1rem 2rem;
}

.main_content .wrapper section:last-child{
  color: grey;
  padding: 3rem;
  background: white;
  border-radius: 5px;
}

.main_content .wrapper section:last-child > p{
  color: black;
  font-size: 30px;
}

.main_content .wrapper section:last-child form > p{
  padding: 1.5rem 0;
}

section form > input{
  width: 100%;
  padding: 1rem 1rem;
  border: 1px solid lightgray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  margin: 0.5rem 0;
}

section form > input[type="submit"]{
  background: #3ed4d6;
  color: white;
}

.offer_section  .wrapper{
  margin: 10rem auto 4rem auto;
}

.offer_section .wrapper > h2::before{
  content: '';
  position: absolute;
  background: #3ed4d6;
  width: 50px;
  height: 3px;
  margin: -10px 15%;
  text-align: center;
}

.offer_section .wrapper > h2{
  font-size: 45px;
  /* font-weight: 600; */
  color: #071d38;
  text-align: center;
}

.offer_section .wrapper > p{
  color: gray;
  text-align: center;
  font-size: 14px;
  padding: 1rem 0;
}

.cards ul{
  display: flex;
  /* flex-flow:wrap; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards div{
  background: linear-gradient(0deg, #1b4680,#408bfe);
  border-radius: 5px;
  padding: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}

.cards div > a{
  font-size: 4rem;
  color: white;
}

.cards div h2{
  font-size: 14px;
  color: white;
  padding: 2rem 0 0 0;
}

.cards div > span{
  display: block;
  color: #3ed4d6;
  font-size: 1.6rem;
  padding: 1rem 0 1rem 0;
}

.cards div > ul::before{
  content: '';
  display: block;
  background: #3ed4d6;
  height: 1px;
  width: 100%;
  opacity: 0.2;
  margin: 2rem 0;
}

.cards div ul li{
  display: list-item;
  font-size: 14px;
  text-align: left;
  color: white;
  list-style: disc;
  list-style-position: inside;
}

ul li::marker{
  font-size: 1.5rem;
  margin: 0;
  color: #3ed4d6;
}

.cards div ul{
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.cards div ul li:last-child{
  list-style: none;
  background: #3ed4d6;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-align: center;
  margin: 2.5rem 0 0 0;
}

.cards div ul li:last-child a{
  color: white;
}

.choose_us_section .wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem 0;
}

.choose_us_section .wrapper img{
  width: 31rem;
  height: 31rem;
}

.choose_us_section .wrapper section{
  width: 30rem;
  align-self: center;
  padding: 2rem;
}

.choose_us_section .wrapper section h2{
  font-size: 40px;
  padding: 2rem 0;
  color: #071d38;
}

.choose_us_section .wrapper section p{
  display: block;
  color: gray;
  padding: 0.5rem 0;
  font-size: 14px;
}

.choose_us_section .wrapper section ul li{
  display: list-item;
  list-style: disc;
  list-style-position: inside;
  font-size: 14px;
  color: #071d38;
}

.choose_us_section .wrapper section ul li::marker{
  color: #408bfe;
}

.choose_us_section .wrapper section a{
  list-style: none;
  background: #3ed4d6;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: white;
  margin: 2rem 0;
  font-size: 14px;
}

.how_it_work_section  .wrapper{
  margin: 10rem auto 4rem auto;
}

.how_it_work_section .wrapper > h2::before{
  content: '';
  position: absolute;
  background: #3ed4d6;
  width: 50px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  margin: -10px auto;
  text-align: center;
}

.how_it_work_section .wrapper > h2{
  font-size: 45px;
  /* font-weight: 600; */
  color: #071d38;
  text-align: center;
}

.how_it_work_section .wrapper > p{
  color: gray;
  text-align: center;
  font-size: 14px;
  padding: 1rem 0;
}

.how_it_work_section .wrapper ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

.steps_box span{
  display: inline-block;
  color: #408bfe;
  margin: 2rem 0;
  background:#ddf0ff;
  padding: 1.5rem;
  border-radius: 50%;
  font-weight: bold;
}


.steps_box h2{
  font-size: 20px;
  color: #071d38;
} 

.steps_box p{
  color: gray;
  width: 18rem;
  font-size: 14px;
  padding: 1rem 0;
}

.faq_section .wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;  
}

.faq_section .wrapper img{
  height: 40rem;
  width: 40rem;
  margin-left: -14%;
}

.faq_section .wrapper section{
  width: 25rem;
  padding: 2rem;
}

.faq_section .wrapper section h2{
  font-size: 40px;
  color: #071d38;
}

.faq_section .wrapper section ul{
  padding: 4rem 0;
  color: #071d38;
}

.faq_section .wrapper section ul li a{
  font-size: 2rem;
  vertical-align: middle;
  color: #071d38;
  padding-right: 2rem;
  opacity: 0.5;
}

.faq_section .wrapper section ul li{
  display: list-item;
  /* font-weight: bold; */
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.faq_section .wrapper section ul li p{
  font-size: 14px;
  color: gray;
  padding: 2rem 0 2rem 2rem;
  width: 25rem;
}

.testimonial_section .wrapper section{
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 0;
}

.testimonial_section .wrapper section img{
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
}

.testimonial_section .wrapper section > a{
  display: flex;
  background: #3ed4d6;
  color: white;
  padding: 1.5rem;
  margin-left: -50px;
  border-radius: 50%;
  align-self: end;
  font-size: 20px;
}

.testimonial_section .wrapper section > p{
  color: #071d38;
  align-self: center;
  width: 50vw;
  line-height: 30px;
  padding: 0 4rem;
}

.testimonial_section .wrapper section p span{
  display: block;
  color: gray;
}

.testimonial_section .wrapper section p ~ a{
  background: #ddf0ff;
  box-sizing: border-box;
  color: #408bfe;
  text-align: center;
  display: block;
  height: auto;
  width: 70px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.testimonial_section .wrapper section p + a{
  margin-top: -10rem;
}

.testimonial_section .wrapper section p + a ~ a{
  margin-top: 1rem;
  margin-left: -4rem;
}

.testimonial_section .wrapper ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 0 10rem 0;
  filter: grayscale(100%);
}

.testimonial_section .wrapper ul li img{
  height: 4rem;
  width: 4rem;
  padding: 0 1rem;
  opacity: 0.5;
}

.testimonial_section .wrapper ul li{
  color: lightgray;
  padding: 1rem 0;
  font-size: 30px;
}

.bottom_apply_section .wrapper{
  width: 100%;
}

.bottom_apply_section .wrapper .bottom_apply_loan_img{
  background: linear-gradient(rgba(49, 65, 94, 0.5),rgba(49, 65, 94, 0.5)),url("https://images.unsplash.com/photo-1523289333742-be1143f6b766?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat;
  padding: 0 9%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8rem 8rem;
}

.bottom_apply_loan_img p{
  font-size: 2.5rem;
  color: white;
}

.bottom_apply_loan_img a{
  /* font-size: 2rem; */
  background: #3ed4d6;
  color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: auto 0;
}

footer section .wrapper > section {
  display: flex;
  justify-content: space-between;
  width: auto;
  flex-wrap: wrap;
  padding: 8rem 0 4rem 0;
}

footer section .wrapper section:first-child > div h2 img{
  height: 40px;
  width: 40px;
  padding-right: 1rem;
}

footer section .wrapper section:first-child div:first-child h2{
  font-size: 1.5rem;
  display: block;
}

footer section .wrapper section:first-child > div p{
  font-size: 14px;
  padding: 2rem 0;
  color: gray;
}

footer section .wrapper section:first-child > div p ~ ul{
  display: flex;
  justify-content: space-between;
}

footer section .wrapper section:first-child > div p ~ ul li a{
  border: 1px solid lightgray;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgray;
}

footer section .wrapper section section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50rem;
  /* padding: auto; */
  /* margin: auto; */
}

footer section .wrapper section div h2{
  font-weight: bolder;
  padding-bottom: 3rem;
  font-size: 16px;
}

footer section .wrapper section ul li{
  display: list-item;
  font-size: 14px;
  color: gray;
  padding: 1rem 0;
}

footer section .wrapper section div:last-child div{
  border: 1px solid lightgray;
  width: fit-content;
  padding: 0.2rem 0.2rem 0.2rem 0.8rem;
  border-radius: 5px;
}

footer section .wrapper section div:last-child input{
  border: none;
  font-size: 14px;
  height: 2rem;
}

footer section .wrapper section div:last-child a{
  color: white;
  background: #408bfe;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

footer section .wrapper section div:last-child p{
  width: 20rem;
}

footer section .wrapper > p:last-child{
  text-align: center;
  padding: 3rem 0;
  font-size: 14px;
  font-weight: bolder;
  color: gray;
}

footer section .wrapper > p:last-child span{
  color: #408bfe;
}


@media screen and (max-width: 425px) {

  nav{
    display: none;
  }

  .home_menu > ul{
    display: none;
  }

  .main_content .wrapper section:first-child{
    font-size: 30px;
    width: 100%;
  }
  .main_content .wrapper section:last-child{
    padding: 1.5rem;
  }
  .main_content .wrapper section:last-child > p{
    font-size: 25px;
  }


  
  .choose_us_section .wrapper{
    padding: 2rem 0;
  }

  .choose_us_section .wrapper img{
    width: 16.5rem;
    height: 16.5rem;
  }

  .choose_us_section .wrapper section{
    padding: 0;
  }

  .choose_us_section .wrapper section h2{
    font-size: 28px;
  }

  .how_it_work_section  .wrapper{
    margin: 4rem auto 4rem auto;
  }

  .how_it_work_section .wrapper > h2{
    font-size: 30px;
  }
  
  .how_it_work_section .wrapper ul{
    padding: 0;
  }

  .faq_section .wrapper img{
    height: 20rem;
    width: 20rem;
    margin-left: 0;
  }
  
  .faq_section .wrapper section{
    width: 20rem;
    padding: 2rem 0;
    text-align: center;
  }
  
  .faq_section .wrapper section h2{
    font-size: 25px;
  }

  .faq_section .wrapper section ul{
    padding: 1rem 0;
    color: #071d38;
  }

  .faq_section .wrapper section ul li p{
    width: 15rem;
  }

  .testimonial_section .wrapper section{
    padding: 2rem 0;
  }
  
  .testimonial_section .wrapper section > p{
    width: auto;
    padding: 2rem 1rem;
  }
  
  .testimonial_section .wrapper section p ~ a{
    margin-left: 35%;
    transform: translateX(-40%);
  }
  
  .testimonial_section .wrapper section p + a{
    margin-top: 0rem;
  }
  
  .testimonial_section .wrapper section p + a ~ a{
    margin-top: 0rem;
    margin-left: 0rem;
  }
  
  .testimonial_section .wrapper ul{
    padding: 2rem 0 4rem 0;
  }
  
  .bottom_apply_section .wrapper .bottom_apply_loan_img{
    padding: 8rem 2rem;
  }
  
  .bottom_apply_loan_img p{
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  
  footer section .wrapper section:first-child > div p{
    padding: 1rem 0;
  }
  
  footer section .wrapper section:first-child > div p ~ ul{
    padding-bottom: 2rem;
  }

  footer section .wrapper > section {
    gap: 2rem 0;
  }
  
  footer section .wrapper section div:last-child p{
    width: 16rem;
  }
  
  footer section .wrapper section div:last-child div{
    padding: 2rem 0.5rem;
    text-align: center;
  }
  
  footer section .wrapper section div:last-child input{
    font-size: 14px;
    height: 2rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 425px) {

}