@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: ' ';
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}




/*====================================================================================================*/
/******************************************* coding start ********************************************/
/*==================================================================================================*/

*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main .wrapper{
  max-width: 1440px;
  width: 82%;
  margin: auto;
}

.home_bg{
  background: linear-gradient(rgba(49, 65, 94, 0.5),rgba(49, 65, 94, 0.5)), url("https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.home_bg h1 img{
  width: 40px;
  height: 40px;
  display: inline;
  padding: 0 0.2rem 0 0;
}

.home_bg h1{
  font-size: 22px;
  font-weight: bold;
  color: white;
}

nav{
  display: flex;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

nav ul li{
  padding: 0.5rem;
}

.home_bg > ul a{
  color: #3ed4d6;
  padding: 0 0.5rem; 
}

.home_bg > ul li{
  color: white;
  font-size: 12px;
  padding: 0.5rem;
  font-weight: bold;
}

.home_bg > ul li:last-child{
  color: #3ed4d6;
  border: 1px solid #3ed4d6;
  border-radius: 5px;
  padding: 0.8rem;
}

.main_content .wrapper{
  max-width: 1440px;
  width: auto;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 10%;
  padding: 9%;
}

.main_content .wrapper section:first-child{
  color: white;
  font-size: 50px;
  width: 47%;
  align-self: center;
  /* margin-top: 5rem; */
}

.main_content .wrapper section:first-child a{
  font-size: 14px;
  font-weight: 600;
  margin: 2rem 0;
  border-radius: 5px;
  color: white;
  background: #3ed4d6;
  padding: 1rem 2rem;
}

.main_content .wrapper section:last-child{
  color: grey;
  padding: 3rem;
  background: white;
  border-radius: 5px;
}

.main_content .wrapper section:last-child > p{
  color: black;
  font-size: 30px;
}

.main_content .wrapper section:last-child form > p{
  padding: 1.5rem 0;
}

section form > input{
  width: 100%;
  padding: 1rem 1rem;
  border: 1px solid lightgray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  margin: 0.5rem 0;
}

section form > input[type="submit"]{
  background: #3ed4d6;
  color: white;
}

.offer_section  .wrapper{
  margin: 10rem auto 4rem auto;
}

.offer_section .wrapper > h2::before{
  content: '';
  position: absolute;
  background: #3ed4d6;
  width: 50px;
  height: 3px;
  margin: -10px 15%;
  text-align: center;
}

.offer_section .wrapper > h2{
  font-size: 45px;
  /* font-weight: 600; */
  color: #071d38;
  text-align: center;
}

.offer_section .wrapper > p{
  color: gray;
  text-align: center;
  font-size: 14px;
  padding: 1rem 0;
}

.cards ul{
  display: flex;
  /* flex-flow:wrap; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards div{
  background: linear-gradient(0deg, #1b4680,#408bfe);
  border-radius: 5px;
  padding: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}

.cards div > a{
  font-size: 4rem;
  color: white;
}

.cards div h2{
  font-size: 14px;
  color: white;
  padding: 2rem 0 0 0;
}

.cards div > span{
  display: block;
  color: #3ed4d6;
  font-size: 1.6rem;
  padding: 1rem 0 1rem 0;
}

.cards div > ul::before{
  content: '';
  display: block;
  background: #3ed4d6;
  height: 1px;
  width: 100%;
  opacity: 0.2;
  margin: 2rem 0;
}

/* .home_loan_card ul li::before{
  content: '';
  color: #3ed4d6;
  background: #3ed4d6;
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
  font-size: 2rem;
} */

.cards div ul li{
  /* display: block; */
  /* display: flex;
  flex-direction: row; */
  display: list-item;
  font-size: 14px;
  text-align: left;
  color: white;
  list-style: disc;
  list-style-position: inside;
  /* list-style-type: symbols("$"); */
  /* list-style-image: linear-gradient(#3ed4d6,#3ed4d6); */
  
}

ul li::marker{
  font-size: 1.5rem;
  margin: 0;
  color: #3ed4d6;
}

.cards div ul{
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.cards div ul li:last-child{
  list-style: none;
  background: #3ed4d6;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-align: center;
  margin: 2.5rem 0 0 0;
}

.cards div ul li:last-child a{
  color: white;
}

.choose_us_section .wrapper{
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}

.choose_us_section .wrapper img{
  /* background-clip: border-box; */
  width: 500px;
  height: 500px;
}

.choose_us_section .wrapper section{
  width: 30rem;
  align-self: center;
}

.choose_us_section .wrapper section h2{
  /* text-align: center; */
  font-size: 40px;
  padding: 2rem 0;
  color: #071d38;
}

.choose_us_section .wrapper section p{
  display: block;
  color: gray;
  padding: 0.5rem 0;
  font-size: 14px;
}
/* 
.choose_us_section .wrapper section ul{
  padding: 1rem 0;
} */

.choose_us_section .wrapper section ul li{
  display: list-item;
  list-style: disc;
  list-style-position: inside;
  font-size: 14px;
  color: #071d38;
}

.choose_us_section .wrapper section ul li::marker{
  color: #408bfe;
}

.choose_us_section .wrapper section a{
  list-style: none;
  background: #3ed4d6;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: white;
  margin: 2rem 0;
  font-size: 14px;
}

.how_it_work_section  .wrapper{
  margin: 10rem auto 4rem auto;
}

.how_it_work_section .wrapper > h2::before{
  content: '';
  position: absolute;
  background: #3ed4d6;
  width: 50px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  margin: -10px auto;
  text-align: center;
}

.how_it_work_section .wrapper > h2{
  font-size: 45px;
  /* font-weight: 600; */
  color: #071d38;
  text-align: center;
}

.how_it_work_section .wrapper > p{
  color: gray;
  text-align: center;
  font-size: 14px;
  padding: 1rem 0;
}

.how_it_work_section .wrapper ul{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.steps_box span{
  /* content: '01'; */
  /* position: absolute; */
  display: inline-block;
  color: #408bfe;
  margin: 2rem 0;
  background:#ddf0ff;
  padding: 1.5rem;
  border-radius: 50%;
  font-weight: bold;
}

.steps_box h2{
  font-size: 20px;
  color: #071d38;
} 

.steps_box p{
  color: gray;
  width: 18rem;
  font-size: 14px;
  padding: 1rem 0;
}

